@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: white;
}

/* App.css */
.app {
  display: flex;
}

.navbar {
  width: 200px; /* Adjust width as needed */
  background-color: #0a0b27;
  position: fixed;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  border-left: 0;
  border-image: linear-gradient(90deg, #fffefe, rgba(194, 192, 192, 0)) 1;
}

.navbar2 {
  width: 100px; /* Adjust width as needed */
  background-color: #0a0b27;
  position: fixed;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.content {
  margin-left: 200px; /* Same as navbar width */
  flex: 1;
  overflow-x: auto;
  background-color: #080917;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.bgblue {
  background-color: #0a0b27;
}

.Hero {
  background-image: url("./HeroImages/HomeHero.svg");
  background-size: cover;
  background-position: top;
  height: 100vh; /* Adjust the height as needed */
}
.FeedHero {
  background-image: url("./HeroImages/Hero.svg");
  background-size: cover;
  background-position: top;
  height: 100vh; /* Adjust the height as needed */
}
.ConcertsHero {
  background-image: url("./HeroImages/ConcertHero.svg");
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.PlaylistsHero {
  background-image: url("./HeroImages/shapes.svg");
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.search {
  background-color: #050511;
  border-width: 1px solid #95fbfb;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.filterBtn {
  background-color: #0a0b27;
  border: 1px solid #95fbfb;
  border-image: linear-gradient(90deg, #95fbfb 0%, #95fbfb 100%);
  border-image-slice: 1;
  padding: 10px;
  display: flex;
  width: 150px;
  align-items: center;
  margin: 10px;
}
.createBtn {
  background-color: #0a0b27;
  border: 0.1px solid #95fbfb;
  border-image: linear-gradient(90deg, #95fbfb 0%, #95fbfb 100%);
  border-image-slice: 1;
  padding: 10px;
  display: flex;
  width: 150px;
  align-items: center;
  margin: 10px;
}

.audio-player {
  margin-left: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #110c28;
  padding: 10px;
  width: 100%;
}

.audio-controls {
  background-color: #110c28;
  display: none;
}

.audio-controls audio {
  width: 100%;
}

#progress {
  -webkit-appearance: none;
  width: 80%;
  height: 6px;
  background-color: #95fbfb;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #3c8989;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 6px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.custom-controls {
  padding-left: 5%;
}

.custom-play-pause-btn {
  padding-left: 39%;
  height: 20px;
}

/* Add this CSS to your stylesheet */
.red-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease-in-out;
}
