@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section {
  background: linear-gradient(
    270deg,
    rgba(159, 122, 234, 0.8),
    rgba(237, 100, 166, 0.8),
    rgba(255, 200, 124, 0.8),
    rgba(188, 38, 68, 0.8),
    rgba(160, 21, 62, 0.8),
    rgba(93, 14, 65, 0.8),
    rgba(0, 34, 77, 0.8),
    rgba(0, 255, 255, 0.6)
  );
  background-size: 1400% 1400%;
  animation: gradientBackground 10s ease infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: rgba(159, 122, 234, 0.8);
  }
  12.5% {
    border-color: rgba(237, 100, 166, 0.8);
  }
  25% {
    border-color: rgba(255, 200, 124, 0.8);
  }
  37.5% {
    border-color: rgba(188, 38, 68, 0.8);
  }
  50% {
    border-color: rgba(160, 21, 62, 0.8);
  }
  62.5% {
    border-color: rgba(93, 14, 65, 0.8);
  }
  75% {
    border-color: rgba(0, 34, 77, 0.8);
  }
  87.5% {
    border-color: rgba(0, 255, 255, 0.6);
  }
  100% {
    border-color: rgba(159, 122, 234, 0.8);
  }
}

.rainbow-border {
  border-width: 2px;
  border-style: solid;
  animation: rainbow-border 5s infinite linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
}

.blur-sm {
  filter: blur(5px); /* Adjust the blur effect as needed */
}

.main-content {
  position: relative;
  z-index: 0;
}

.modal-content {
  position: relative;
  z-index: 10;
}
.sweetAlert {
  background-color: rgb(21, 21, 21) !important;
  color: white !important;
}
html {
  scroll-behavior: smooth;
}
.progress-bar-wrapper {
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #313131;
  animation: progressAnimation 2s linear;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Example class for applying font to specific elements */
.spotify-font {
  font-family: "Poppins", "Montserrat", sans-serif;
}

.sliding-container {
  width: 200px; /* Adjust as needed */
  overflow: hidden; /* Hide overflowing content */
}

.sliding-text {
  display: inline-block; /* Make text display inline */
  white-space: nowrap; /* Prevent text from wrapping */
}

.sliding .sliding-text {
  animation: slide 15s linear infinite; /* Slide animation */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } /* Start from the beginning */
  100% {
    transform: translateX(-100%);
  } /* Slide to the left */
}
