@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section {
  background: linear-gradient(
    270deg,
    rgba(159, 122, 234, 0.8),
    rgba(237, 100, 166, 0.8),
    rgba(255, 200, 124, 0.8),
    rgba(188, 38, 68, 0.8),
    rgba(160, 21, 62, 0.8),
    rgba(93, 14, 65, 0.8),
    rgba(0, 34, 77, 0.8),
    rgba(0, 255, 255, 0.6)
  );
  background-size: 1400% 1400%;
  animation: gradientBackground 10s ease infinite;
}

@keyframes rainbow-border {
  0% {
    border-color: rgba(159, 122, 234, 0.8);
  }
  12.5% {
    border-color: rgba(237, 100, 166, 0.8);
  }
  25% {
    border-color: rgba(255, 200, 124, 0.8);
  }
  37.5% {
    border-color: rgba(188, 38, 68, 0.8);
  }
  50% {
    border-color: rgba(160, 21, 62, 0.8);
  }
  62.5% {
    border-color: rgba(93, 14, 65, 0.8);
  }
  75% {
    border-color: rgba(0, 34, 77, 0.8);
  }
  87.5% {
    border-color: rgba(0, 255, 255, 0.6);
  }
  100% {
    border-color: rgba(159, 122, 234, 0.8);
  }
}

.rainbow-border {
  border-width: 3px;
  border-style: solid;
  animation: rainbow-border 5s infinite linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow as needed */
}

.blur-sm {
  filter: blur(5px); /* Adjust the blur effect as needed */
}

.main-content {
  position: relative;
  z-index: 0;
}

.modal-content {
  position: relative;
  z-index: 10;
}
.sweetAlert {
  background-color: rgb(21, 21, 21) !important;
  color: white !important;
}
html {
  scroll-behavior: smooth;
}
.progress-bar-wrapper {
  position: relative;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #313131;
  animation: progressAnimation 2s linear;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body {
  font-family: "Poppins", "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* Example class for applying font to specific elements */
.spotify-font {
  font-family: "Poppins", "Montserrat", sans-serif;
}

.sliding-container {
  width: 200px; /* Adjust as needed */
  overflow: hidden; /* Hide overflowing content */
}
.title-sliding-container {
  width: 250px; /* Adjust as needed */
  overflow: hidden;
}

.title-sliding-text {
  display: inline-block; /* Make text display inline */
  white-space: nowrap; /* Prevent text from wrapping */
}
.sliding-text {
  display: inline-block; /* Make text display inline */
  white-space: nowrap; /* Prevent text from wrapping */
}

.title-sliding-text {
  animation: slide 60s linear infinite; /* Slide animation */
}

.sliding .sliding-text {
  animation: slide 30s linear infinite; /* Slide animation */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  } /* Start from the beginning */
  100% {
    transform: translateX(-100%);
  } /* Slide to the left */
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: rgb(33, 31, 31);
  background-repeat: no-repeat;
  background-position: 12px 11px;
  border: 1px solid #656565;
  &:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
  }

  &:active {
    background-color: #2c2b2b;
  }

  &:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
      0 0 0 3px #c8dafc;
  }

  &:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
  }
}

.bg-glass-effect {
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 15%,
    rgba(235, 0, 255, 0.1) 15%,
    rgba(255, 0, 214, 0.1) 30%,
    rgba(0, 0, 0, 0.1) 45%,
    rgba(217, 217, 217, 0.1) 60%,
    rgba(219, 0, 255, 0.1) 75%,
    rgba(255, 0, 245, 0.1) 90%
  );
  background-blend-mode: overlay;
  background-attachment: fixed;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-card {
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1) 15%,
    rgba(235, 0, 255, 0.1) 15%,
    rgba(255, 0, 214, 0.1) 30%,
    rgba(0, 0, 0, 0.1) 45%,
    rgba(217, 217, 217, 0.1) 60%,
    rgba(219, 0, 255, 0.1) 75%,
    rgba(255, 0, 245, 0.1) 90%
  );
  background-blend-mode: overlay;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Apply this CSS to simulate rotation for fullscreen mode */
@media screen and (orientation: portrait) {
  body.fullscreen-landscape {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
